body {margin: 0}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.board:hover {
    cursor: crosshair;
}

.modal{
    z-index: 100;
    width: auto;
    height: auto;
    border: 1px solid black;
}

.modal-item:hover {
    cursor: pointer;
    background-color: rgb(233, 224, 224);
}
