body {margin: 0}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.board:hover {
    cursor: crosshair;
}

.modal{
    z-index: 100;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
