body {margin: 0}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.board:hover {
    cursor: crosshair;
}

.modal{
    display:none;
    position: absolute;
    background: white;
    z-index: 100;
    
}
.modal.show{
    display:block;
}